.container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    min-width: 50%;
    height: 100px;
    background-color: aquamarine;
    border-radius: 30px;
}
.container-outline{
    display: flex;
    justify-content: center;
}
.time{
    font-size: 40px;
    margin-top: 30px;
}
span{
    font-size: 40px;
    margin-top: 30px;
}
.btnGroup{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
.start{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #1a73e8;
    color: antiquewhite;
    transition: 0.7s;
}
.reset{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #1a73e8;
    cursor: pointer;
    color: antiquewhite;
    transition: 0.7s;
}
.pause{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;  
    background-color: #1a73e8;  
    cursor: pointer;
    color: antiquewhite;
    transition: 0.7s;
}
.start:hover{
    font-size: 20px;
    color: black;
}
.pause:hover{
    font-size: 20px;
    color: black;
}
.reset:hover{
    font-size: 20px;
    color: black;
}

@media only screen and (max-width:405px)
{
    .time{
        font-size: 30px;
    }
    span{
        font-size: 30px;
    }
    .start{
        padding: 5px 10px;
    }
    .pause{
        padding: 5px 10px;
    }
    .reset{
        padding: 5px 10px;
    }
}